<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../style/stylesV2.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to the favorites page</h1>
        <button class="button home-button">Back to main page</button>
        <section class="message-selection liked-messages">
        </section>
    </div>
    <script type="text/javascript" src="../src/favorites.js" role="img"></script>
    <script type="text/javascript" src="../src/data.js" role="img"></script>
</body>

</html>